# backend
poetry.lock
__pycache__/
.env
.volumes
.static
.media
migrations
!migrations/__init__.py
.pytest_cache

# infrastructure
.terraform
*.lock.hcl
*.*.hcl
*.tfstate
*.backup
.gcp_creds.json
.secrets.auto.tfvars
.ssh
